<% content_for :title, "Editing Post" %>

<div class="edit-post-container">
  <h1 class="edit-post-title">Edit Your Post</h1>
  
  
 
  <div class="form-container">
  <%= render "form", post: @post %>
  </div>

 
</div>
