/* กำหนดพื้นหลัง */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin:5px;
    padding: 5px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* กำหนดพื้นที่สำหรับฟอร์ม Login */
  .login-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  /* ฟอร์ม Login */
  .login-form {
    
    background-color: #9a8b8b;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* ส่วนหัวฟอร์ม */
  .login-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin: 20px;
  }
  
  /* ป้ายและช่องกรอกข้อมูล */
  .form-label {
    font-size:100px;
    color: white;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .form-input:focus {
    border-color: #c00707;
    outline: none;
  }
  
  /* ปุ่ม Login */
  .btn-login {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    background-color:transparent;
    border:2px solid  #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #333;
    color: white;
  }
  
  .btn-login:active {
    transform: translateY(2px);
  }
  
  /* ลิงค์การสมัคร */
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link-text {
    color: blue;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .register-link-text:hover {
    text-decoration: underline;
  }
  